:root {
    /* --main-bg-color: #12304d; */
    --main-bg-color: rgb(18, 18, 18);
    --sub-bg-color: #f7f7f7;
    --btn-bg-color: #0051a1;

    --top-header-height: 65px;

    --btn-twitter-blue: #1DA1F2;
    --btn-twitter-blue-hover: #1a88cc;
}

body {
    overflow: hidden;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 0;
    height: var(--top-header-height);
    background-color: var(--main-bg-color);
    color: white;
    font-size: large;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 5px;
    overflow: hidden;
}

.app-name {
    margin: 5px 0px;
}

.bmc-btn-container {
    transform: scale(0.9);
    position: absolute;
    right: -5px;
}


@media only screen and (max-width: 600px) {
    h1 {
      font-size: xx-large;
    }
    .bmc-btn-container {
        transform: scale(0.8);
        right: -15px;
    }
}

@keyframes color-change-infinite {
    0% { 
        color: aqua;
    }
    50% {
        color: rgb(255, 0, 255);
    }
    100% { 
        color: aqua;
    }
}

#balloonBoard {
    position: absolute;
    left: 0;
    top: var(--top-header-height);
    width: 100%;
    height: calc(100% - var(--top-header-height));
}

.balloon {
    position: absolute;
    border-radius: 50%;
    animation: color-change-and-enlarge 5s infinite;
}

@keyframes color-change-and-enlarge {
    0% { 
        background-color: aqua;
        opacity: 80%;
        width: 50px;
        height: 50px;
    }
    100% { 
        background-color: rgb(255, 0, 255); 
        opacity: 20%;
        width: 100px;
        height: 100px;
        transform: translate(-25px, -25px);
    }
}

.modal-content {
    border: 1px solid white;
}

.modal-header {
    background-color: var(--main-bg-color);
    color: white;
}

.modal-header .close {
    color: white;
}

.modal-body {
    background: var(--sub-bg-color);
}

.modal-footer {
    padding: 0.5rem;
}

.blue-button {
    background-color: #0062c2;
    color: #e7f0f9;
    border-radius: 3px;
}

.blue-button.btn:hover {
    color: white;
    background: #0051a1;
}

.btn {
    border: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: var(--main-bg-color);
    color: white;
    margin: 0 !important;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

#highestPoppedBalloonsSpan {
    font-weight: bold;
}


.btn-twitter {
    background-color: var(--btn-twitter-blue);
}

.btn-twitter:hover {
    background-color: var(--btn-twitter-blue-hover);
}